<div class="task-list-container">
    <div class="heading">
        <h3>Tasks</h3>
        <div>
            <span class="status-dot in-progress"></span> In progress
            <span class="status-dot completed"></span> Completed
        </div>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Status</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                @for(task of tasks$ | async; track task.id) {
                <tr>
                    <td>
                        <label
                            class="{{ task.completed ? 'completed-task' : '' }}"
                        >
                            <input
                                type="checkbox"
                                aria-label="Select task"
                                [checked]="task.completed"
                                (click)="handleCheckbox(task.id)"
                            />
                            {{ task.name }}
                        </label>
                    </td>
                    <td>
                        <span
                            class="status-dot {{
                                task.completed ? 'completed' : 'in-progress'
                            }}"
                        ></span>
                        {{ task.completed ? "Completed" : "In progress" }}
                    </td>
                    <td>{{ task.dueDate | date : "YYYY-MM-dd" }}</td>
                    <td style="cursor: pointer" (click)="deleteTask(task.id)">
                        x
                    </td>
                    <td style="cursor: pointer" (click)="updateTask(task)">
                        edit
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="button-container">
            <button (click)="showModal = true">Add new task</button>
            @if (showModal) {
            <app-task-form
                (closePanel)="handleModalClose($event)"
                [currentTask]="selectedTask"
                [formType]="formType"
            />
            }
        </div>
    </div>
</div>
